@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* .home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #153A4D;
  color: #fff;
} */

/* Navbar CSS */
.navbar {
  background-color: #E4F1FE;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #153A4D;
}

.nav-menu {
  background-color: #ffffff;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #153A4D;
  background-color: #E4F1FE;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 10px;
  transition: 0.1s;
}

.nav-text a:hover {
  background-color: #153A4D;
  color: #fff;
}


.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #E4F1FE;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}


/* MYSTUFF IS BELOW HERE */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #153A4D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STARTING MY CSS */

/* HOME */

.home-container {
  /* display: block; */
  padding-top:50px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  color: #153A4D;
}

.homeImage {
  border-radius: 10px;
  max-width: 400px;
  margin: 15px;
  box-shadow: 6px 6px 8px rgba(138, 138, 138, 0.3);
}

/* ABOUT */

.about-container {
  padding-top:50px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.skill-list {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

/* SQUADS */

.card-container {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

.card {
  text-align: center;
  border: rgb(60, 60, 60) solid 1px;
  box-shadow: 6px 6px 8px rgba(138, 138, 138, 0.3);
  border-radius: 15px;
  padding: 10px;
  width: 400px;
  height: 300px;
  display: inline-grid;
  margin: 10px 10px; 
}

.cardDeleteButton {
  max-width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #E4F1FE;
  border: none;
}

.cardDeleteButton:hover {
  background-color:#153A4D;
  color: white;
}


.card-image {
  justify-self: center;
  height: 150px;
  width: auto;
}

.breakline {
  margin-top: 40px;
  margin-bottom: 25px;
  max-width: 80%
}

/* SQUAD FORM SECTION */

.formToggleButton {
  padding: 10px 20px;
  margin-top: 2%;
  margin-bottom: 70px;
  background-color: #E4F1FE;
  font-size: 20px;
  border: none;
  /* color: black; */
  border-radius: 10px;
  text-decoration: none;
}

.formToggleButton:hover {
  background-color:#153A4D;
  color: white;
}

.formContainer {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 400px;
  padding-left: 50px;
  border: rgb(60, 60, 60) solid 1px;
  border-radius: 15px;
}

.formContainer h2 {
  margin-top: 35px;
}

.squadForm {
  margin-top: 15px;
  margin-bottom: 50px;
}

.formContainer
.squadForm div {
  margin-bottom: 20px;
}

.squadForm span{
  padding: 20px;
}

.squadForm input {
  border-radius: 4px;
  padding: 10px;
}

.squadForm Button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #E4F1FE;
  font-size: 20px;
  border: none;
  color: #153A4D;
  border-radius: 10px;
  text-decoration: none;
}

.squadForm Button:hover {
  background-color:#153A4D;
  color: white;
}
